body {
  font-family: 'Baloo 2', cursive;
  background-color: #CCE7F1;
}

header, h1 {
  font-size: 75px;
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Pacifico', cursive;
}
